In [6]:
#импорт библиотек
import pandas as pd
data='brl'
#импорт данных, сделать циклом
data = pd.read_csv(data+'/all_data.csv', sep=',')

display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3892 entries, 0 to 3891
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           3892 non-null   object
 1   USDBRL Curncy                  3756 non-null   float64
 2   BCN1W BGN Curncy               3567 non-null   float64
 3   EURUSD Curncy                  3892 non-null   float64
 4   GBPUSD Curncy                  3892 non-null   float64
 5   USDJPY Curncy                  3892 non-null   float64
 6   USDMXN Curncy                  3891 non-null   float64
 7   USOSFR2 Curncy                 3879 non-null   float64
 8   USOSFR10 Curncy                3851 non-null   float64
 9   CO1 Comdty                     3851 non-null   float64
 10  CU1 Comdty                     3620 non-null   float64
 11  XAU Curncy                     3885 non-null   float64
 12  BCNI3M Curncy                  3819 non-null   float64
 13  VIX Index                      3757 non-null   float64
 14  ES1 Index                      3764 non-null   float64
 15  NQ1 Index                      3765 non-null   float64
 16  IBOV Index                     3688 non-null   float64
 17  DXY Curncy                     3885 non-null   float64
 18  BRAZIL CDS USD SR 5Y D14 Corp  3887 non-null   float64
 19  MEX CDS USD SR 5Y D14 Corp     3885 non-null   float64
 20  EURUSDV1M BGN Curncy           3892 non-null   float64
 21  W 1 COMB Comdty                3761 non-null   float64
 22  C 1 COMB Comdty                3761 non-null   float64
 23  KC1 Comdty                     3757 non-null   float64
 24  USGGBE2 Index                  3888 non-null   float64
 25  USGGBE10 Index                 3890 non-null   float64
 26  CESIUSD Index                  3824 non-null   float64
dtypes: float64(26), object(1)
memory usage: 821.1+ KB

None

In [7]:
display(data.head())

,Date,USDBRL Curncy,BCN1W BGN Curncy,EURUSD Curncy,GBPUSD Curncy,USDJPY Curncy,USDMXN Curncy,USOSFR2 Curncy,USOSFR10 Curncy,CO1 Comdty,...,DXY Curncy,BRAZIL CDS USD SR 5Y D14 Corp,MEX CDS USD SR 5Y D14 Corp,EURUSDV1M BGN Curncy,W 1 COMB Comdty,C 1 COMB Comdty,KC1 Comdty,USGGBE2 Index,USGGBE10 Index,CESIUSD Index
0,2007-02-01,2.1004,25.0,1.3022,1.9668,120.82,10.9713,5.2437,5.2140,56.72,...,84.64,96.129,42.240,6.200,460.25,398.00,118.75,2.6056,2.4119,65.6
1,2007-02-02,2.1043,25.0,1.2961,1.9660,121.14,10.9632,5.2087,5.1865,58.41,...,84.96,93.119,39.825,5.975,461.25,402.00,118.35,2.5953,2.4049,58.5
2,2007-02-05,2.0933,25.0,1.2929,1.9603,120.34,10.9228,5.1887,5.1585,58.10,...,85.08,93.125,39.500,5.750,458.50,402.00,116.60,2.5875,2.3990,61.3
3,2007-02-06,2.0859,25.0,1.2985,1.9711,120.10,10.9223,5.1637,5.1199,58.42,...,84.77,91.151,39.510,5.850,451.00,396.50,116.50,2.5513,2.3695,60.4
4,2007-02-07,2.0925,25.0,1.3012,1.9707,120.68,10.9555,5.1437,5.1004,57.23,...,84.71,90.119,39.396,5.850,452.00,392.25,116.85,2.5488,2.3596,60.4

In [2]:

#конвертация данных
data_brl['Date'] = pd.to_datetime(data_brl['Date'], dayfirst=False)

display(data_brl.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3892 entries, 0 to 3891
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           3892 non-null   datetime64[ns]
 1   USDBRL Curncy                  3756 non-null   float64
 2   BCN1W BGN Curncy               3567 non-null   float64
 3   EURUSD Curncy                  3892 non-null   float64
 4   GBPUSD Curncy                  3892 non-null   float64
 5   USDJPY Curncy                  3892 non-null   float64
 6   USDMXN Curncy                  3891 non-null   float64
 7   USOSFR2 Curncy                 3879 non-null   float64
 8   USOSFR10 Curncy                3851 non-null   float64
 9   CO1 Comdty                     3851 non-null   float64
 10  CU1 Comdty                     3620 non-null   float64
 11  XAU Curncy                     3885 non-null   float64
 12  BCNI3M Curncy                  3819 non-null   float64
 13  VIX Index                      3757 non-null   float64
 14  ES1 Index                      3764 non-null   float64
 15  NQ1 Index                      3765 non-null   float64
 16  IBOV Index                     3688 non-null   float64
 17  DXY Curncy                     3885 non-null   float64
 18  BRAZIL CDS USD SR 5Y D14 Corp  3887 non-null   float64
 19  MEX CDS USD SR 5Y D14 Corp     3885 non-null   float64
 20  EURUSDV1M BGN Curncy           3892 non-null   float64
 21  W 1 COMB Comdty                3761 non-null   float64
 22  C 1 COMB Comdty                3761 non-null   float64
 23  KC1 Comdty                     3757 non-null   float64
 24  USGGBE2 Index                  3888 non-null   float64
 25  USGGBE10 Index                 3890 non-null   float64
 26  CESIUSD Index                  3824 non-null   float64
dtypes: datetime64[ns](1), float64(26)
memory usage: 821.1 KB

None

In [3]:
#заполнение или удаление пропущенных значений
display(data_brl.describe())

,Date,USDBRL Curncy,BCN1W BGN Curncy,EURUSD Curncy,GBPUSD Curncy,USDJPY Curncy,USDMXN Curncy,USOSFR2 Curncy,USOSFR10 Curncy,CO1 Comdty,...,DXY Curncy,BRAZIL CDS USD SR 5Y D14 Corp,MEX CDS USD SR 5Y D14 Corp,EURUSDV1M BGN Curncy,W 1 COMB Comdty,C 1 COMB Comdty,KC1 Comdty,USGGBE2 Index,USGGBE10 Index,CESIUSD Index
count,3892,3756.000000,3567.000000,3892.000000,3892.000000,3892.000000,3891.000000,3879.000000,3851.000000,3851.000000,...,3885.000000,3887.000000,3885.000000,3892.000000,3761.000000,3761.000000,3757.000000,3888.000000,3890.000000,3824.000000
mean,2014-07-18 02:23:33.360740096,2.922947,37.480443,1.257856,1.518348,102.812914,15.601971,1.151487,2.327050,76.689268,...,87.331350,188.649467,127.724837,9.046073,593.897368,457.844257,144.446247,2.037042,1.978203,5.871025
min,2007-02-01 00:00:00,1.539100,-29.150000,1.038800,1.148500,75.820000,9.858100,-0.009200,0.261200,19.330000,...,71.329000,61.333000,28.167000,3.772500,361.000000,293.500000,86.650000,0.750900,-0.024100,-144.600000
25%,2010-10-25 18:00:00,1.876500,22.500000,1.134100,1.327450,93.695000,12.770300,0.273700,1.558050,56.145000,...,80.073000,125.000000,97.500000,6.534375,487.750000,362.000000,116.400000,1.735100,1.741325,-24.550000
50%,2014-07-17 12:00:00,2.379150,29.580000,1.250600,1.524150,106.385000,13.877500,0.714200,2.104800,72.020000,...,86.041000,166.000000,115.500000,8.220000,550.000000,389.500000,132.200000,2.089350,2.058700,3.200000
75%,2018-04-10 06:00:00,3.757850,48.500000,1.358225,1.614525,111.412500,19.031200,1.460600,2.804600,102.905000,...,95.539000,225.000000,142.500000,10.828750,681.250000,553.250000,161.150000,2.364025,2.280825,35.825000
max,2021-12-31 00:00:00,5.887000,117.980000,1.599100,2.107500,125.630000,25.358800,5.475200,5.816300,146.080000,...,103.300000,630.000000,602.500000,28.885000,1280.000000,831.250000,304.900000,2.828700,2.752000,270.800000
std,NaN,1.207800,21.771200,0.130282,0.212699,12.730983,3.619277,1.202898,1.129537,25.599856,...,8.467502,86.934378,60.399308,3.550718,140.551064,131.822657,41.722612,0.403017,0.407659,52.111957